# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.cache
*.egg-info/
dist/
build/

# pytest
.pytest_cache/

# Virtual environments
venv/
.venv/
env/
.myenv/
myenv/

# IDEs/editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Reports/artifacts (generated)
*.html
reports/
allure-results/
allure-report/
